// <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css" integrity="" crossorigin="anonymous">
%h2 List

%table{:border => 1}
  %thead
    %tr
      %th UIN
      %th First Name
      %th Last Name
      %th Review Year

  %tbody
    - @search.each do |det|
      %tr
        %td= link_to "#{det.uin}" 
        %td= det.first_name
        %td= det.last_name
        %td= det.review_year
