
<!--<html>-->
<!--<div class="page-header">-->
<!--<h1>Searched Items</h1>-->
<!--</div>-->

<!--<head>-->
<!--      <title>HTML Table Background</title>-->
<!--   </head>-->
	
<!--   <body>-->
<!--      <table id='Mytable' border = "1" bordercolor = "green" width=100% style='font-size:70%' > -->
<!--         <tr>-->
<!--            <th></th>-->
<!--            <th>UIN</th>-->
<!--            <th>First-Name</th>-->
<!--            <th>Last-Name</th>-->
<!--            <th>Year</th>-->
<!--            <th>Review Official Student Deadline</th>-->
<!--            <th>Review Student Input Date</th>-->
<!--            <th>Review Faculty Input Date</th>-->
<!--            <th>Review Release Date</th>-->
<!--            <th>IP Open Date</th>-->
<!--            <th>IP Official Student Deadline</th>-->
<!--            <th>IP Student input Date</th>-->
<!--            <th>IP Faculty Input Date</th>-->
<!--            <th>IP Release Date</th>-->
<!--            <th>DP Open Date</th>-->
<!--            <th>DP Official Student Deadline</th>-->
<!--            <th>DP Student Input Date</th>-->
<!--            <th>DP Faculty Input Date</th>-->
<!--            <th>DP Release Date</th>-->
<!--            <th>Review</th>-->
<!--            <th>Current Degree</th>-->
<!--            <th>Start Semester</th>-->
<!--            <th>GPR Cumulative</th>-->
<!--            <th>Degree Plan Date</th>-->
<!--            <th>Qual Exam Date</th>-->
<!--            <th>Qual Exam Result</th>-->
<!--            <th>Prelim Date</th>-->
<!--            <th>Proposal Date</th>-->
<!--            <th>Final Exam Defense Date</th>-->
<!--            <th>Decision Letter</th>-->
<!--         </tr>-->
          
         
<!--         <tr>-->
<!--            <td><INPUT type="checkbox" name="chk[]"/></td>-->
<!--            <td><%iter[:uin]%></td>-->
<!--            <td>Ketan</td>-->
<!--            <td>Sethi</td>-->
<!--            <td>2018</td>-->
<!--            <td>Review Official Student Deadline</td>-->
<!--            <td>Review Student Input Date</td>-->
<!--            <td>Review Faculty Input Date</td>-->
<!--            <td>Review Release Date</td>-->
<!--            <td>IP Open Date</td>-->
<!--            <td>IP Official Student Deadline</td>-->
<!--            <td>IP Student input Date</td>-->
<!--            <td>IP Faculty Input Date</td>-->
<!--            <td>IP Release Date</td>-->
<!--            <td>DP Open Date</td>-->
<!--            <td>DP Official Student Deadline</td>-->
<!--            <td>DP Student Input Date</td>-->
<!--            <td>DP Faculty Input Date</td>-->
<!--            <td>DP Release Date</td>-->
<!--            <td><button>view</button></td>-->
<!--            <td>Current Degree</td>-->
<!--            <td>Start Semester</td>-->
<!--            <td>4.0</td>-->
<!--            <td>Degree Plan Date</td>-->
<!--            <td>Qual Exam Date</td>-->
<!--            <td>Qual Exam Result</td>-->
<!--            <td>Prelim Date</td>-->
<!--            <td>Proposal Date</td>-->
<!--            <td>Final Exam Defense Date</td>-->
<!--            <td><input type="file" name="fileupload" value="fileupload" id="fileupload"> <label for="fileupload"> Select a file to upload</label> <input type="submit" value="submit"></td>-->
<!--         </tr>-->
<!--      </table>-->
<!--   </body>-->
<!--</html>-->

%h2 List

%table{:border => 1}
  %thead
    %tr
      %th UIN
      %th First Name
      %th Last Name
      %th Review Year

  %tbody
    - @search.each do |det|
      %tr
        %td= link_to "#{det.uin}" 
        %td= det.first_name
        %td= det.last_name
        %td= det.review_year
%div
