%h2 List

%table{:border => 1}
  %thead
    %tr
      %th UIN
      %th First Name
      %th Last Name
      %th Review Year

  %tbody
    - @search.each do |det|
      %tr
        %td= link_to "#{det.uin}" 
        %td= det.first_name
        %td= det.last_name
        %td= det.review_year
