
<html>
<div>
<link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css" integrity="" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">PHD REVIEW SYSTEM</a>
</div>

<p id=”notice”><%= notice %></p>    

<div class="page-header">
<h1>Searched Items</h1>
</div>
<head>
      <title>PHD-Review-TAMU</title>
   </head>
	
   <body>
<form action ="/date" >
      <table id='Mytable' border = "1" bordercolor = "green" width=100% style='font-size:70%' > 
         <tr>
            <th></th>
            <th>UIN</th>
            <th>First-Name</th>
            <th>Last-Name</th>
            <th>Year</th>
            <th>Review Official Student Deadline</th>
            <th>Review Student Input Date</th>
            <th>Review Faculty Input Date</th>
            <th>Review Release Date</th>
            <th>IP Open Date</th>
            <th>IP Official Student Deadline</th>
            <th>IP Student input Date</th>
            <th>IP Faculty Input Date</th>
            <th>IP Release Date</th>
            <th>DP Open Date</th>
            <th>DP Official Student Deadline</th>
            <th>DP Student Input Date</th>
            <th>DP Faculty Input Date</th>
            <th>DP Release Date</th>
            <th>Review</th>
            <th>Current Degree</th>
            <th>Start Semester</th>
            <th>GPR Cumulative</th>
            <th>Degree Plan Date</th>
            <th>Qual Exam Date</th>
            <th>Qual Exam Result</th>
            <th>Prelim Date</th>
            <th>Proposal Date</th>
            <th>Final Exam Defense Date</th>
            <th>Decision Letter</th>
         </tr>
         <% @temp.each do |rev| %>
         <tr>
            <td><input type="hidden" size="0"  value="off" name="chk[]" /><input type="checkbox" name="chk[]"  /></td>
            <td><%=link_to(rev.user[:uin],search_path(rev,:uin =>rev.user[:uin],:review_year=>rev[:year])) %></td>
            <td><%= rev.user[:first_name]%></td>
            <td><%= rev.user[:last_name] %></td>
            <td><%= rev[:year]%></td>
            <td><%= rev[:review_official_student_deadline]%></td>
            <td><%= rev[:review_student_input_date] %></td>
            <td><%= rev[:review_faculty_input_date] %></td>
            <td><%= rev[:review_release_date] %></td>
            <td><%= rev[:ip_open_date] %></td>
            <td><%= rev[:ip_official_student_deadline] %></td>
            <td><%= rev[:ip_student_input_date] %></td>
            <td><%= rev[:ip_faculty_input_date] %></td>
            <td><%= rev[:ip_release_date] %></td>
            <td><%= rev[:dp_open_date] %></td>
            <td><%= rev[:dp_official_student_deadline] %></td>
            <td><%= rev[:dp_student_input_date] %></td>
            <td><%= rev[:dp_faculty_input_date] %></td>
            <td><%= rev[:dp_release_date] %></td>
            <td><%= link_to '<button type="button">view</button>'.html_safe, review_path(rev) %></td>
            <td><%= rev.user[:degree] %></td>
            <td><%= rev.user[:start_semester] %></td>
            <td><%= rev.user[:cumul_gpa]%></td>
            <td><%= rev.user[:degree_plan_date] %></td>
            <td><%= rev.user[:qual_exam_date] %></td>
            <td><%= rev.user[:qual_exam_result] %></td>
            <td><%= rev.user[:prelim_date] %></td>
            <td><%= rev.user[:proposal_date] %></td>
            <td><%= rev.user[:final_exam_defence_date] %></td>
            <td>
               <%= form_for @tempk,url:{ :action => "savepd3"} do |f| %>
                    <%= f.hidden_field :tempid, :value =>rev.user[:uin] %>
                    <%= f.hidden_field :tempid2, :value =>rev[:year] %>
                    <%= f.file_field :cover%>
                    <%= f.submit%>
                <%end%>
            </td>
         </tr>
         <%end %>
      </table>
<button type="submit" class="btn btn-primary">Date</button>
</form>   
      <%= link_to 'Back', '/searches/new' %>
      <%= link_to 'add_item', add_item_path() %>
   </body>
</html>
