<html>
<link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css" integrity="" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">PHD REVIEW SYSTEM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="container">
<head>
      <title>PHD-Review-TAMU</title>
   </head>

<div class="page-header">
<h1>Student Details</h1>

</div>
<%@detail.each do |rev| %>
<form action ="/det_update" >
    <fieldset>
    <div class="form-group">
      <label for="UIN">UIN</label>
      <input type="text" name="uin"  value = "<%=rev.user[:uin]%>" >
    </div>
    <fieldset>
    <div class="form-group">
      <label for="first_name">First Name</label>
      <input type="text" name="first_name"  value = "<%=rev.user[:first_name]%>" >
    </div>
    <fieldset>
    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input type="text" name="last_name" value = "<%=rev.user[:last_name]%>" >
    </div>
    
    <fieldset>
     <div class="form-group">
      <label for="start_semester">Start Semester</label>
      <input type="text" name="start_semester" value="<%=rev.user[:start_semester]%>" >
    </div>
      <fieldset>
    <div class="form-group">
      <label for="cumul_gpa">Cumulative GPA</label>
      <input type="text" name="cumul_gpa" value="<%=rev.user[:cumul_gpa]%>" >
    </div>
      <fieldset>
    <div class="form-group">
      <label for="advisor">Advisor</label>
      <input type="text" name="advisor" value="<%=rev.user[:advisor]%>">
    </div>
  <fieldset>
     <div class="form-group">
      <label for="degree_plan_date">Degree Plan Date</label></label>
      <input type="date" name="degree_plan_date" value="<%=rev.user[:degree_plan_date]%>" >
    </div>
  <fieldset>
     <div class="form-group">
      <label for="prelim_date">Prelim Date</label>
      <input type="date" name="prelim_date"  value="<%=rev.user[:prelim_date]%>">
    </div>
  <fieldset>
     <div class="form-group">
      <label for="proposal_date">Proposal Date</label>
      <input type="date" name="proposal_date"  value="<%=rev.user[:proposal_date]%>">
    </div>  
    <fieldset>
     <div class="form-group">
      <label for="final_exam_defence_date">Final Exam Defence Date</label>
      <input type="date" name="final_exam_defence_date"  value="<%=rev.user[:final_exam_defence_date]%>">
    </div>
      <fieldset>
     <div class="form-group">
      <label for="cv">CV</label>
      <input type="text" name="cv"  >
    </div>
      <fieldset>
     <div class="form-group">
      <label for="sr">Student Report</label>
      <input type="text" name="student_report">
    </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
<form action="/searches"><button  class="btn btn-primary">Back</button></form>
</div>
<%end%>
</body>    
</html>
