<div class="jumbotron">
  <h1 class="display-5">Review Details</h1>
<%= bootstrap_form_for(review) do |f| %>
      <%= f.select :review_score, [['Not rated'],['Unsatisfactory'],['Needs improvement'],['Satisfactory']] %>
      <%= f.text_area :comments_for_student,placeholder:"Enter comments",rows: "4" %>
      <%= f.text_area :comments_for_faculty,placeholder:"Enter comments",rows: "4" %>
      <%= f.text_field :notes,placeholder:"Enter notes" %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', review_path(@review) %>
</div>