

<%= form_for(review) do |f| %>
    <p>
      <label for="name">Name:</label>
      <%= f.text_field :review_score,placeholder:"Enter your score" %>
    </p>
        <p>
      <label for="name">Name:</label>
      <%= f.text_field :comments_for_student,placeholder:"Enter cs" %>
    </p>
        <p>
      <label for="name">Name:</label>
      <%= f.text_field :comments_for_faculty,placeholder:"Enter cf" %>
    </p>
            <p>
      <label for="name">Name:</label>
      <%= f.text_field :notes,placeholder:"Enter notes" %>
    </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>